* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  width: 96px;
  height: 100%;
  position: fixed;
  background-color: red;
}

article {
  min-width: 940px;
  margin-left: 96px;
  color: white;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-300';
}

.top-container {
  text-align: center;
  height: 1080px;
  padding-top: 58px;
  background-image: url("../../theme/images/bg/training_people.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  p:first-child {
    color: red;
    font-size: 29px;
    margin-right: 16px;
    font-family: 'FedraSansPro-Normal';
  }
  h1 {
    width: 550px;
    margin: 24px auto 0 auto;
    font-size: 66px;
    line-height: 115%;
  }
  p:last-child {
    margin: 4px auto 0 auto;
    width: 840px;
    font-size: 23px;
    line-height: 150%;
  }
}

.container_co-worker-1  {

  .desc-block {
    width: 206px;
    color: #000000;
    padding-top: 43px;
    padding-left: 24%;
    text-align: right;
    position: relative;

    h2 {
      width: 206px;
      font-size: 44px;
      line-height: 1.1;
    }

    .co-workers-photo {
      margin-top: 53px;
      margin-left: 74px;
    }

    p {
      margin-top: 28px;
      padding-left: 70px;
      line-height: 1.32;
      width: 206px;
    }

    .co-workers-story {
      background-color: red;
      width: 703px;
      padding: 62px;
      position: absolute;
      top: 0;
      left: 162.3%;
      margin: 0;
      font-size: 20px;
      color: white;
      text-align: left;
      line-height: 1.9;
    }
  }

  .video-1 {
    margin-top: 240px;

    img {
      width: 100%;
    }
  }
}

