//<div class="video-1">
///<img src="theme/images/tmp/co-worker-1_training-video.jpg" alt="">
////</div>

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  color: black;
}

aside {
  width: 96px;
  height: 100%;
  position: fixed;
  background-color: red;
  z-index: 10;
}

.wrapper {
  min-width: 940px;
  margin-left: 96px;
  color: white;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-300';
}

.section {
  background-color: #fff;
  position: relative;
}

.top-container {
  text-align: center;
  padding-top: 58px;
  background-image: url("../../theme/images/bg/training_people.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;

  &:before {
    @include oneline-sprite-box($icons, arrow);
    @include pseudo-block($bottom: 5.6%, $right: 47.8%);
  }

  p:first-child {
    color: red;
    font-size: 29px;
    margin-right: 16px;
    font-family: 'FedraSansPro-Normal';
  }
  h1 {
    width: 550px;
    margin: 24px auto 0 auto;
    font-size: 66px;
    line-height: 115%;
  }
  p:last-child {
    margin: 4px auto 0 auto;
    width: 840px;
    font-size: 23px;
    line-height: 150%;
  }
}

.container_co-worker-1,
.container_co-worker-2,
.container_co-worker-3 {
  // @include translateY(100vh);
  top: 100vh;
}

.container_co-worker-1 {
  margin-bottom: -5px;
  overflow: hidden;

  .content {
    width: 990px;
    margin: 0 auto;
    position: relative;

    .left-part {
      display: inline-block;
      color: #000000;
      padding-top: 43px;
      text-align: right;
      animation-duration: 3s;

      h2 {
        width: 206px;
        font-size: 44px;
        line-height: 1.1;
      }

      .co-workers-photo {
        margin-top: 53px;
        margin-left: 74px;
      }

      .co-worker_name {
        margin-top: 28px;
        padding-left: 70px;
        line-height: 1.32;
        width: 206px;
        @include transition(padding-left 1s);

        &.animating-end {
          padding-left: 0;
          visibility: visible;
        }
      }
    }

    .text {
      background-color: red;
      width: 703px;
      padding: 44px 64px 50px 64px;
      position: absolute;
      top: 0;
      left: 295px;
      margin: 0;
      font-size: 20px;
      color: white;
      text-align: left;
      line-height: 2.1;
      z-index: 2;
      animation-duration: 2s;
      animation-delay: 1s;
      @include transition(top 1s);

      p {
        animation-delay: 1s;
      }
    }
  }

  .co-workers-gallery {
    height: 50%;
    @include clearfix();

    .item {
      overflow: hidden;
      float: left;
      font-size: 0;

      &:last-child {
        float: right;
      }
    }
  }

  .video-1 {
    width: 100vw;

    &.fixed-block {
      position: fixed;
      top: 0;
      left: 96px;
      right: 0;
    }
  }
}

.container_co-worker-2 {
  text-align: right;
  margin-bottom: -5px;

  .content {
    width: 970px;
    margin: 0 auto;
    position: relative;

    .right-part {
      display: inline-block;
      width: 206px;
      color: #000000;
      padding-top: 43px;
      padding-right: 27%;
      text-align: left;
      position: relative;
      animation-duration: 3s;

      h2 {
        width: 420px;
        font-size: 44px;
        line-height: 1.1;
      }

      .co-workers-photo {
        margin-top: 97px;
      }

      p {
        margin-top: 28px;
        line-height: 1.32;
        width: 195px;
      }
    }

    .text {
      background-color: red;
      width: 703px;
      padding: 44px 64px 43px 64px;
      position: absolute;
      top: 0;
      right: 302px;
      margin: 0;
      font-size: 20px;
      color: white;
      text-align: left;
      line-height: 1.96;
      z-index: 2;
      @include transition(top 1s);
      animation-delay: 1s;

      .p {
        animation-delay: 1s;
      }
    }
  }

  .bg-block {
    margin-top: 365px;

    img {
      width: 100%;
    }
  }
}

.container_co-worker-3 {
  height: 100vh;

  .content {
    width: 990px;
    margin: 0 auto;
    position: relative;

    .left-part {
      display: inline-block;
      width: 210px;
      color: #000000;
      padding-top: 43px;
      text-align: right;
      animation-duration: 3s;

      h2 {
        width: 220px;
        margin-left: -10px;
        font-size: 44px;
        line-height: 1.1;
      }

      .co-workers-photo {
        margin-top: 53px;
      }

      p {
        margin-top: 28px;
        padding-left: 100px;
        line-height: 1.32;
      }
    }

    .text {
      background-color: red;
      width: 703px;
      padding: 44px 64px 50px 64px;
      position: absolute;
      top: 0;
      left: 295px;
      margin: 0;
      font-size: 20px;
      color: white;
      text-align: left;
      line-height: 2.0;
      animation-delay: 1s;

      p {
        animation-delay: 1s;
      }
    }
  }
}

.container_co-worker-1, .container_co-worker-3 {
  .slick-slider {
    width: 37vw;
    max-height: 50vh;
    padding-top: 30px;
    overflow: hidden;
    animation-delay: 2s;

    &.two-img {
      float: left;
    }

    &.one-img {
      float: right;
    }

    img {
      min-width: 100%;
    }
  }
}

.container_co-worker-2 {
  .slick-slider {
    width: 37vw;
    max-height: 50vh;
    margin-top: 30px;
    overflow: hidden;
    animation-delay: 2s;

    &.one-img {
      float: left;
    }

    &.two-img {
      float: right;
    }

    img {
      min-width: 100%;
    }
  }
}

.container_co-worker-3 {
  .slick-slider {
    margin-top: 60px;
  }
}

@keyframes positionBot {
  0% {
    top: 0;
  }

  100% {
    top: -100%
  }
}

@-webkit-keyframes positionBot {
  0% {
    top: 0;
  }

  100% {
    top: -100%
  }
}

.positionBot {
  -webkit-animation-name: positionBot;
  animation-name: positionBot;
}
